@font-face {
  font-family: notoSans;
  src: url("fonts/NotoSans-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: notoSans;
  font-size: 1rem;
}
header,
#related-books,
#lectures,
footer {
  display: flex;
  justify-content: center;
}

body {
  overflow-x: hidden !important;
}

article {
  flex-grow: 1;
}

.hamburger {
  position: fixed !important;
  z-index: 100;
}



.hamburger,
.close {
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  padding: 10px;
  width: 55px;
  height: 55px;
}

.hamburger {
  background: white;
}

.close {
  background: rgb(1, 35, 87);
}

.hamburger img,
.close img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  list-style: none;
  background: rgb(1, 35, 87);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.2s ease;
}

.navbar:target {
  transform: translateX(0);
}

li a {
  display: block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  /* remove default underline and add our own with padding and border bottom */
  text-decoration: none;
  border-bottom: 1px solid rgb(1, 35, 87);
  padding-bottom: 0.5rem;
}

li a:hover,
li a:focus {
  /* show border bottom */
  border-bottom: 1px solid white;
}

header {
  position: relative;
  width: 99%;
  /* margin-right: 70px; */
}

header img {
  height: 92vh;
  width: 100%;
  margin: 39px 0 39px 35px;
  background-color: rgba(5, 36, 243, 0.76);
}

@keyframes horizontalIn {
  0% {
    left: -50%;
    top: 15%;
    transform: translate(50%, 15%);
  }
  100% {
    left: 50%;
    top: 15%;
    transform: translate(-50%, 15%);
  }
}

.text-on-photo {
  position: absolute;
  color: white;
  left: 50%;
  top: 15%;
  transform: translate(-50%, 15%);
  animation-name: horizontalIn;
  animation-duration: 4s;
  text-align: center;
  backdrop-filter: blur(8px) brightness(80%);
padding: 30px;
}

.text-on-photo p {
  font-size: 1.5rem;
  letter-spacing: 5mm;
  z-index: 40;
  position: sticky;
}

.text-on-photo p:nth-child(1),
.text-on-photo p:nth-child(2) {
  font-size: 4rem;
  letter-spacing: 12mm;
}

.text-on-photo p:nth-of-type(2) {
  margin-bottom: 40px;
}

/* header{
  position: relative;
} */

header a {
  text-decoration: none;
  color: rgb(145, 145, 145);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 68px;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, 55%);
  height: 50px;
  width: 330px;
}

header a:hover {
  background-color: black;
  color: white;
  border: white 2px solid;
}

#lectures {
  background-image: linear-gradient(
      to right bottom,
      rgba(106, 39, 245, 0.8),
      rgba(5, 36, 243, 0.76),
      rgba(18, 201, 4, 0.58)
    ),
    url("images/Background.jpg");
  background-size: cover;
  padding: 90px 0;
  background-repeat: no-repeat;
}

#lectures article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 30px;
  padding: 27px 27px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 250px;
}

#lectures article:hover {
  transform: scale(1.1);
}

#lectures article img {
  width: 100px;
  height: 100px;
}

#lectures article h1 {
  color: rgb(130, 130, 130);
  margin: 25px auto;
  font-size: 1.5rem;
  font-weight: 900;
}

#lectures article p {
  color: rgb(130, 130, 130);
  text-align: center;
}

#related-books {
  flex-direction: column;
  /* z-index: 50; */
  padding: 70px 0;
}

#related-books #content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#related-books #title {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

#related-books article {
  perspective: 600px;
  margin: 60px 25px;
}

.content {
  background: white;
  height: 410px;
  width: 290px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}
.front img {
  width: 290px;
  height: 220px;
}
.front p {
  margin: 27px 2px;
  color: rgb(163, 162, 162);
}

#related-books article:hover .content {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.front,
.back {
  height: 130px;
  width: 290px;
  background: white;
  text-align: center;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

#related-books article .back p {
  margin-bottom: 60px;
  font-size: 1.2rem;
}

#related-books article label,
.modal__inner a {
  cursor: pointer;

  font-size: 0.9rem;
  background-color: #4277e8;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 46px;
}

#related-books article label {
  font-size: 1.25rem !important;
}

#related-books {
  position: relative;
}

.modal__inner a {
  margin-top: 40px;
}

#related-books article label:hover,
.modal__inner a:hover,
#related-books article label:active,
.modal__inner a:active {
  background-color: white;
  color: #4277e8;
  border: 2px solid #4277e8;
}

.modal {
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 0.25s ease;
}

.modal img {
  width: 40%;
  height: 100%;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
  height: 45%;
  display: flex;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.15em;
  background: rgb(113, 112, 112);
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: 9px 0 0 -12px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: black;
}

.modal__close:before {
  transform: rotate(-45deg);
}

.modal__inner main {
  padding: 40px;
}

.modal__inner main h1 {
  text-align: left !important;
  font-weight: bolder;
  background: linear-gradient(to right, rgb(2, 134, 216), rgb(1, 74, 182));
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-size: 2rem;
  margin-bottom: 20px !important;
  height: 50px !important;
}

.modal__inner main div {
  column-count: 2;
  column-gap: 50px;
  column-rule: 2px solid rgb(232, 232, 232);
  margin-bottom: 45px;
}

.modal__inner main p:first-of-type {
  /* margin: 20px 0px; */
  font-weight: bold;
  font-size: 0.9rem;
}

.modal__inner main p {
  color: rgb(163, 162, 162);
}

.modal__inner main #note {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
#related-books {
  background-color: rgb(241, 240, 240);
}

#related-books #title h1 p {
  background: linear-gradient(to right, rgb(2, 134, 216), rgb(1, 74, 182));
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  margin: 30px 0 0 0;
  padding: 20px;
  font-size: 2rem;
  display: block;
  text-align: center;
}
#related-books #title h1 p:hover {
  cursor: pointer;
}

p.effect-underline:after {
  content: "";
  position: absolute;
  left: 38%;
  display: inline;
  height: 2.5em;
  width: 24%;
  text-align: center;
  border-bottom: 2px solid rgb(1, 74, 182);
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

p.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

footer {
  color: white;
  background-color: #333333;
}

footer article {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 70px 40px;
}

footer article div {
  text-align: left;
  border-top: 2px #3e3e3e solid;
  padding-top: 10px;
}

footer article a {
  text-decoration: none;
  color: white;
  padding: 5px 20px;
}

footer a:hover {
  color: rgb(3, 104, 254);
}
